<nav>
    <div nav class="site-title">
 
      <a href="/"><h1>Boost Api</h1></a>
      <p>By Ben Iraa</p>
    </div>  
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
  </nav>